fastapi==0.68.1
uvicorn[standard]==0.15.0
python-multipart==0.0.5
pdfminer.six==20221105
python-docx==0.8.11
pydantic==1.10.13
spacy==3.4.4
skillNer==1.0.2
scikit-learn==1.3.2
aiofiles==23.2.1
IPython==8.12.0
